* {
  margin: 0;
  padding: 0;
}

body {
  background: url(./assets/background.jpg);
}

nav {
  height: 120px;
  width: 100vw;
  background-color: hsla(0, 0%, 0%, 0.10);
  backdrop-filter: blur 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#name-container {
  margin-left: 4vw;
}

#name {
  height: 35px;
  cursor: pointer;
}

#button-container {
  margin-right: 4vw;
  display: flex;
}

.buttons {
  margin-left: 4vw;
  height: 40px;
  width: 40px;
  cursor: pointer
}