* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: rgb(37, 37, 37);
  height: 2060px;
}

nav {
  height: 120px;
  width: 100vw;
  background-color: hsla(0, 0%, 0%, 0.10);
  backdrop-filter: blur 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 45;
  position: absolute;
}

#name-container {
  margin-left: 4vw;
}

#name {
  height: 35px;
  cursor: pointer;
}

#button-container {
  margin-right: 4vw;
  display: flex;
}

.buttons {
  margin-left: 4vw;
  height: 40px;
  width: 40px;
  cursor: pointer
}

#hero {
  height: 1657px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  background: url(./assets/Frame.svg);
}

#text {
  width: 50%;
  height:100%;
  padding: 0;
  flex-direction: column;
  align-items: center;
  display: flex;
  margin-top: 12%;
}

#illustration {
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 1%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

#name-and-title {
  height: 31rem;
  width: 31rem;
  justify-content: center;
  display: flex;
}

#bubble-planets {
  height: 55rem;
  width: 55rem;
  justify-content: center;
  display: flex;
}